7MarzoNuevoJuego - Basic/ 
ajtum/ 
ajtum - copia/ 
backup phaser/ 
CutrePeroOknuevoJuego - copia/ 
MedioFunciona nuevoJuego - copia/ 
naves teddyboy backup/ 
nuevoJuego/ 
phaser 
phaser juego/ 
phaserjuego/ 
Reactor Tic Tac Toe/ 
shopime/ 
unoConDeepseek/ 
juegoprueba.py 
juegui.py 
pruebaSonicSonnet37.py 
